html(lang="es")
head
	meta(charset="UTF-8")
	title Certificación de Servicio Comunitario
	link(rel="stylesheet" href="/libs/bootstrap4/css/bootstrap.css")
	link(rel="stylesheet" href="/libs/fa-4.7.0/css/font-awesome.min.css")
	link(rel="stylesheet" href="/css/estilosPDF.css")
body#body
	.container-fluid
		.row
			.col-md-1
				img(src="../../images/img.png")
			.col.text-right.top.font-weight-bold.margin-top
				p.negro INSTITUTO UNIVERSITARIO DE TECNOLOGÍA "PASCAL"
				p.thin Cagua, Estado Aragua
		.row.top-2
			h1.centrado Certificación
		.row.top
			p.texto.text-justify Quien suscribe, #{per[1].profesion}. #{per[1].nombreEmp} titular de la Cédula de Identidad N° #{per[1].cedulaEmp} en mi carácter de Coordinador de Pasantías del Instituto Universitario de Tecnología Pascal, por medio de la presente certifico la APROBACIÓN de la Unidad Curricular PASANTÍA, por parte del Bachiller #{info[0].apellido} #{info[0].nombre}, titular de la Cédula de Identidad N° #{info[0].cedula}, cursante de la especialidad #{info[0].carrera}.
			p.texto.text-justify En consecuencia, doy fé de haber recibido por parte del Tutor(a) Empresarial de la Organización #{info[0].organizacion}, #{info[0].espTutor}. #{info[0].tutor}, titular de la Cédula de Identidad N° #{info[0].cedulaTutor} quien ejerce el cargo de #{info[0].cargoTutor}, el Acta de Evaluación del (de la) señalado(a) Bachiller, así mismo, doy fé que ha sido revisado desde el punto de vista Técnico-Acádemico el informe respectivo, razón por la cual avalo su aprobación.
			p.texto.text-justify Certificación que se expide en la ciudad de Cagua, en fecha #{dias} de #{mes[mesnum]} de #{anio}, a los fines académicos correspondientes.
		.row.justify-content-around
			.col-4
				.linea
				p.text-center #{per[0].profesion}. #{per[0].nombreEmp}
				p.text-center Jefe de Control de Estudios y Evaluación
			.col-4
				.linea
				p.text-center #{per[1].profesion}. #{per[1].nombreEmp}
				p.text-center Coor. Pasantías
		.row
			.col.top-2
				p.tiny Elaborado: #{per[1].profesion}. #{per[1].nombreEmp}, Coor. Pasantías.
				p.tiny Revisado:  #{per[3].profesion}. #{per[3].nombreEmp}, Coor. Control de Estudios y Evaluación.
				p.tiny Vo.Bo.: #{per[0].profesion}. #{per[0].nombreEmp}, Jefe de Control de Estudios y Evaluación.
		.row
			.col.top.text-center
				.linea2
				b.b Gaceta Oficial N° 36.104 / Decreto Presidencial N° 1608 / RIF: J-30767674-4
				p.tiny Calle Mariño entre Páez y Miranda. Cagua 2122. Estado Aragua. Tlf: (0244) 395.80.64 / 395.71.21 - Fax: (0244) 447.21.02
				p.tiny Correo: iutepascal@cantv.net

	script(src="/libs/jquery-3.2.1.min.js")
	script(src="/libs/bootstrap4/js/popper.min.js")
	script(src="/libs/bootstrap4/js/bootstrap.min.js")
	script(src="/js/scripts.js")